.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
            url("https://phonoteka.org/uploads/posts/2021-04/1618450189_22-phonoteka_org-p-tyomno-sinii-fon-gradient-23.jpg");
    background-size: 100%;
}

main{
    min-height: 98vh;
}